@import '../../../styles/variables.scss';
@import '../../../styles/buttons.scss';

.header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    &__buttons-container {
        display: flex;
        flex-direction: row;
    }

    &__main-link {
        width: 38px;
        height: 38px;
    }

    &__button {
        border: none;
        color: $mainTextColor;
        background-color: transparent;
    }
}

.logo {
    &_place_header {
        width: 100%;
        height: 100%;
    }
}


@media screen and (min-width: 1280px) {
    .header {
        padding: 18px 70px;
        &__buttons-container {
            gap:30px
        }

    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header {
        padding: 14px 30px;
        &__buttons-container {
            gap:30px
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 14px 14px;
        &__buttons-container {
            gap:14px
        }
    }
}
