@import '../../../styles/variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    
    &__sponsor {
        color: $softTextColor;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 400;
    }
    
    &__divider {
        height: 1px;
        background-color: #424242;
        width: 100%;
    }
    
    &__bottom {
        display: flex;
        width: 100%;
    }
    
    &__copyright {
        font-family: $mainTextColor;
        font-style: normal;
        font-weight: 400;
    }
    
    &__links {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }
    

    &__link {
        text-decoration: none;
        font-family: $mainTextColor;
        font-style: normal;
        font-weight: 400;
        color: $mainTextColor;
        transition: opacity 300ms ease;
        &:hover {
            opacity: 0.7;
        }
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        min-height: 172px;
        padding: 0 70px 20px 70px;
        &__sponsors {
            padding-bottom: 20px;
        }
        
        &__sponsor, &__copyright, &__link {
            font-size: 13px;
            line-height: 16px;
        }
        
        &__bottom {
            flex-direction: row;
            justify-content: space-between;
            padding-top: 20px;
        }
        
        &__copyright {
            color: $mainTextColor;
        }
        
        &__links {
            flex-direction: row;
            gap: 20px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer {
        min-height: 172px;
        padding: 0 30px 20px 30px;
        &__sponsors {
            padding-bottom: 20px;
        }
        
        &__sponsor, &__copyright, &__link {
            font-size: 13px;
            line-height: 16px;
        }
    
        &__bottom {
            flex-direction: row;
            justify-content: space-between;
            padding-top: 20px;
        }
        
        &__copyright {
            color: $mainTextColor;
        }
        
        &__links {
            flex-direction: row;
            gap: 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    .footer {
        min-height: 270px;
        padding: 0 10px 10px 10px;

        &__sponsors {
            padding-bottom: 21px;
        }
        
        &__sponsor,&__copyright, &__link {
            font-size: 12px;
            line-height: 15px;
        }

        &__bottom {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
        }
        
        &__copyright {
            color: $softTextColor;
        }
        
        &__links {
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
    }
}
